<!--
File Name : contact.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
    <%- include ('partials/contact_info.ejs') %>
    <%- include ('partials/contact_form.ejs') %>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   