<!--
File Name : services.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
    <%- include ('partials/services.ejs') %>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   